.blog {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.blog-posts {
	margin-top: 100px;
}

.blog-posts .blog-post {
	margin-bottom: 30px;
}

.blog-posts .blog-thumb img {
	width: 100%;
	overflow: hidden;
}

.blog-posts .down-content {
	padding: 40px;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.blog-posts .down-content-border {
	border-top: 1px solid #eee;
}

.blog-posts .down-content-border p { 
	border-bottom: 0!important;
	padding-bottom: 0!important;
	margin-bottom: 0!important;
}

.blog-posts .down-content span {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 900;
	color: #f48840;
}

.blog-posts .down-content h4 {
	font-size: 24px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	font-weight: 900;
	color: #20232e;
	margin: 10px 0px 12px 0px;
}

.blog-posts .down-content ul.post-info li {
	display: inline-block;
	margin-right: 8px;
}

.blog-posts .down-content ul.post-info li:after {
	content: '|';
	color: #aaa;
	margin-left: 8px;
}

.blog-posts .down-content h4 {
	font-size: 20px;
	letter-spacing: 0.25px;
}

.grid-system .down-content ul.post-info li {
	margin-right: 3px;
}

.grid-system .down-content ul.post-info li:after {
	margin-left: 5px;
}

.blog-posts .down-content ul.post-info li:last-child::after {
	display: none;
}

.blog-posts .down-content ul.post-info li a {
	font-size: 14px;
	color: #aaa;
	font-weight: 400;
	transition: all .3s;
}

.blog-posts .down-content ul.post-info li a:hover {
	color: #f48840;
}

.blog-posts .down-content p {
	padding: 25px 0px;
	margin: 25px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.blog-posts .down-content ul.post-share {
	text-align: right;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	display: inline-block;
}

.blog-posts .down-content ul.post-tags li:first-child i,
.blog-posts .down-content ul.post-share li:first-child i {
	color: #f48840;
	margin-right: 5px;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	color: #aaa;
}

.blog-posts .down-content ul.post-tags li a,
.blog-posts .down-content ul.post-share li a {
	font-size: 14px;
	color: #aaa;
	font-weight: 400;
	transition: all .3s;
}

.blog-posts .down-content ul.post-tags li a:hover,
.blog-posts .down-content ul.post-share li a:hover {
	color: #f48840;
}

.blog-posts .main-button a {
	height: 60px;
	line-height: 60px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

ul.page-numbers {
	text-align: center;
}

ul.page-numbers li {
	display: inline-block;
	margin: 0px 5px;
}

ul.page-numbers li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	color: #7a7a7a;
	border: 1px solid #eee;
	font-weight: 500;
	transition: all 0.3s;
}

ul.page-numbers li.active a {
	background-color: #f48840;
	border-color: #f48840;
	color: #fff;
}

ul.page-numbers li a:hover {
	color: #f48840;
}

.blog-posts .sidebar-heading h2 {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #20232e;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 25px;
	font-weight: bold;
}

.blog-posts .comments {
	margin-top: 30px;
}

.blog-posts .comments ul li {
	display: inline-block;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.blog-posts .comments ul li.replied {
	padding-left: 130px;
}

.blog-posts .comments ul li:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

.blog-posts .comments ul li .author-thumb {
	display: inline;
	float: left;
}

.blog-posts .comments ul li .author-thumb img {
	max-width: 100px;
	display: inline;
}

.blog-posts .comments ul li .right-content {
	margin-left: 130px;
}

.blog-posts .comments ul li .right-content h4 {
	color: #20232e;
	font-size: 19px;
	font-weight: 900;
	letter-spacing: 0.5px;
}

.blog-posts .comments ul li .right-content h4 span {
	font-size: 14px;
    color: #aaa;
	font-weight: 400;
	letter-spacing: 0.25px;
	margin-left: 20px;
}

.blog-posts .submit-comment {
	margin-top: 60px;
}

.blog-posts .submit-comment input {
	width: 100%;
	height: 46px;
	border: 1px solid #eee;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	color: #7a7a7a;
	outline: none;
	padding: 0px 15px;
	margin-bottom: 30px;
}

.blog-posts .submit-comment textarea {
	width: 100%;
	height: 46px;
	border: 1px solid #eee;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	color: #7a7a7a;
	outline: none;
	padding: 10px 15px;
	margin-bottom: 30px;
	height: 180px;
	max-height: 220px;
	max-width: 100%;
	min-width: 160px;
}

.blog-posts .submit-comment input::placeholder,
.blog-posts .submit-comment textarea::placeholder {
	color: #aaa;
}

.blog-posts .submit-comment button {
	display: inline-block;
	background-color: #f48840;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	padding: 12px 20px;
	text-transform: uppercase;
	transition: all .3s;
	border: none;
	outline: none;
}

.blog-posts .submit-comment button:hover {
	background-color: #fb9857;
}

/* Sidebar */

.sidebar {
	margin-left: 30px;
}

.sidebar .sidebar-item {
	margin-top: 50px;
}

.sidebar .search {
	margin-top: 0px;
}

.sidebar .sidebar-heading h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.5px;
	color: #20232e;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.sidebar .search input {
	width: 100%;
	height: 50px;
	border: 1px solid #eee;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	color: #7a7a7a;
	outline: none;
	padding: 0px 15px;
}

.sidebar .search input::placeholder {
	color: #aaa;
}

.sidebar .recent-posts ul li {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.sidebar .recent-posts ul li:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

.sidebar .recent-posts ul li h5 {
	font-size: 19px;
	font-weight: 900;
	color: #20232e;
	line-height: 30px;
	transition: all 0.3s;
}

.sidebar .recent-posts ul li h5:hover {
	color: #f48840;
}

.sidebar .recent-posts ul li span {
	display: block;
	font-size: 14px;
	color: #aaa;
	margin-top: 8px;
}

.sidebar .categories ul li {
	margin-bottom: 15px;
}

.sidebar .categories ul li:last-child {
	margin-bottom: 0px;
}

.sidebar .categories ul li a {
	font-size: 15px;
	font-weight: 700;
	color: #20232e;
	transition: all .3s;
}

.sidebar .categories ul li a:hover {
	color: #f48840;
}

.sidebar .tags ul li {
	margin-right: 6px;
	display: inline-block;
}

.sidebar .tags ul li {
	margin-bottom: 10px;
}

.sidebar .tags ul li a {
	font-size: 15px;
	font-weight: 500;
	color: #aaa;
	display: inline-block;
	border: 1px solid #eee;
	padding: 10px 18px;
	transition: all .3s;
}

.sidebar .tags ul li a:hover {
	background-color: #f48840;
	border-color: #f48840;
	color: #fff;
}

.thucan img .phukien img .chuong img {
	width: 290px;
	height: 214px;
}
/* Menu anh */
#noiDungPhongTo{
	position: fixed; 
	z-index: 998;
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	top: 58px;
	display: none;
}
#noiDungPhongTo .thoat{
	top: 5%;
	cursor: pointer;
	margin: 20px;
	float: right;
}
.anhPhongTo{
	position: fixed;
	width: 100%;
	top: 12%;
	text-align: center;
}
#anhPhongTo{
	width: 42%;
	max-height: 600px;
}
.menuAnh{
	position: fixed;
	left: 5%;
	top: 12%;
	width: 6.2%;
	height: 100%;
	overflow: hidden;
	z-index: 999;
}
.menuAnh img{
	width: 100%;
	max-height: 110px;
	margin: 2%;
	opacity: 70%;
	cursor: pointer;
}

/* End Menu anh 

/*    Binh luan       */
.binh-luan-group{
	width: 80%;
	margin: 20px 0 0 10%;
	background-color: #f2f2f2;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
} 
#comment-box{
	width: 90%;
    height: 80px;
    padding-left: 10px;
    margin: 0 5% 0 5% ;
    font-size: 15px;
    resize: vertical;
    overflow: hidden;
}
#binh-luan-label{
	font-size: 20px;
	margin: 15px 0 10px 5%;
	padding-top: 15px;
}
.hien-thi-binh-luan{ 
	margin: 10px 0 0 50px;
}
.hien-thi-ten{
	font-size: 20px;
}
.hien-thi-ngay{
	margin-left: 5px;
	font-size: 15px;
	color: gray;
}
.hien-thi-noi-dung{
	margin-left: 5px;
	font-size: 17px;
	font-weight: bold;
}
#che-man-hinh{
	position: fixed;
	z-index: 998;
	width: 100%;
	height: 100%;top: 0; left: 0;
	background-color: rgba(0,0,0,0.7);
}
#mess-sua{
	width: 30%;
	position: fixed;z-index: 999;
	top: 0;
	left: 35%;
	background-color: #fff;
	height: auto;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 1px 5px #000;
	padding: 1% 2% 1% 2%;
	animation-name: tren-xuong;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
}
@keyframes tren-xuong{
	0%{
		margin-top: -100px;
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes an{
	0%{
		opacity: 0;
	}
	100%{opacity: 0;}
}

/*            End Binh luan           */

/* Trang         */
#trang{
	width: 40%;
	text-align: center;
	margin-left: 40%;
	margin-bottom: 70px;
}
#trang a{
color: #000204;
float: left;
padding: 10px;
border: solid 1px #000204;
}
#trang a:hover{
background-color: var(--maingray);
}

.binh-luan-group button{
	background-color:  #d0a772;
	margin: 5px 0 10px 5%;
	transition: 0.5s;
}

.binh-luan-group button:hover{
	background-color: black;
	border-color: #000;
}
/* End Trang   */

/*San pham noi bat */
.leCacMuc{
	margin-bottom: 2%;
}
.noiDungGioiThieu{
	width: 40%;
	color: #000;
}
.noiDungGioiThieu a{
	text-align: center;
	color: #fff;
	margin: 5%;
}
#labelTrai{
	background-color: #d0a772;;
	width: 40px;
	height: 40px;
	color: #000;
	font-size: 24px;
	text-align: center;
	position: absolute;
	top: 55%;
	z-index: 4;
	left: -2%;
	box-shadow: 1px 1px 5px #AEAEAE;
	cursor: pointer;
}
#lablePhai{
	position: absolute;
	background-color: #d0a772;;
	width: 40px;
	height: 40px;
	color: #000;
	font-size: 24px;
	text-align: center;
	top: 55%;
	z-index: 4;
	right: 1%;
	box-shadow: 1px 1px 5px #AEAEAE;
	cursor: pointer;
}
.slide_sp{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.slides_sp{
	width: 1600px;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.thanhPhan{
	width: 312px;
	transition: 0.6s;
	height: 96%;
	margin: 0.5%;
	display: inline;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	padding-bottom: 20px;
}
.hoverSanPham{
	position: absolute;
	z-index: 2;
	width: 25%;
	height: 96%;
	background: rgba(0,0,0,0.7);
	display: none;
	vertical-align: middle;
	padding-top: 10%;
}
.thanhPhan:hover .hoverSanPham{
	display: block;
}

.hoverSanPham a{
	margin: 0 8px;
	font-size: 32px;
	transition-delay: 0.3s;
	color: #fff;
	animation: hoverSanPham;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
}
@keyframes hoverSanPham{
	0%{
		margin: 0;
	}
	100%{
	}
}
.anhSanPham img{
	width: 80%;
}
.giaDo{
	color: #000;
	font-weight: bold;
}
input[name="dieuHuong"]{
	position: absolute;
	visibility: hidden;
}
.giaGachNgang{
	color: #515154;
	text-decoration: line-through;
}
#trai:checked ~ .s1{
	margin-left: 0;
}
#phai:checked ~ .s1{
	margin-left: -38%;
}

/*End san pham noi bat */